* {
        margin: 0;
}
body{
        padding: 30px 15px;
        text-align: center;
}
#main{
        padding: 15px;
        background-color: rgba(0,0,0,0.05);
}
h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5em;
        line-height: 1.2;
        
        color: #333;
        margin-top: 40px;
}
main p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 16px ;
}
figure{
        padding: 10px;
        margin: 0;
        background-color: #fff;
}
img{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
}
figcaption{
        margin: 20px auto 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.2;
}
h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 50px;
}
ul {
        max-width: 550px;
        margin: 0 auto 50px auto;
        text-align: left;
        line-height: 1.6;
}
li{
    margin: 1em 0;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
blockquote{
        font-style: italic;
        text-align: left;
        max-width: 550px;
        margin: 10px auto;
}
blockquote p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
}
cite{
        line-height: 1.2;
}
h3 {
        line-height: 1.5;
        font-size: 1.2em;
        margin: 40px auto;
}
